:root {
  /* ## Colors */

  /* ### Primary */

  /* - Very dark blue (main background) */
  --p1: hsl(233, 47%, 7%);
  /* - Dark desaturated blue (card background) */
  --p2: hsl(244, 38%, 16%);
  /* - Soft violet (accent) */
  --p3: hsl(277, 64%, 61%);

  /* ### Neutral */

  /* - White (main heading, stats) */
  --n1: hsl(0, 0%, 100%);
  /* - Slightly transparent white (main paragraph) */
  --n2: hsla(0, 0%, 100%, 0.75);
  /* - Slightly transparent white (stat headings) */
  --n3: hsla(0, 0%, 100%, 0.6);

  --size: 15px;

  --font1: "Inter", sans-serif;
  --font2: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font1);
  background-color: var(--p1);
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: var(--p2);
  min-width: 250px;
  max-width: 900px;

  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;
  margin: 2rem;
}

picture {
  background-color: var(--p3);
  border-radius: 0.5rem 0.5rem 0 0;
  background-size: contain;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 8px 8px 0 0;

  mix-blend-mode: multiply;
  opacity: 0.8;
}

.info {
  padding: 2rem 1.75rem;
  text-align: center;
}

.info h1 {
  color: var(--n1);
  font-size: 1.75rem;
  font-weight: 700;
}

.info > h1 {
  margin-bottom: 1rem;
  display: inline-block;
}

.info > h1 > span {
  color: var(--p3);
}

.info p {
  color: var(--n3);
  font-size: 0.9375rem;
  line-height: 1.7;
  font-weight: 400;
}

.info > p {
  margin-bottom: 2.25rem;
  display: inline-block;
}

.info ul li {
  list-style: none;
  font-family: var(--font2);
}

.info ul li > p:first-of-type {
  font-family: var(--font1);
  color: var(--n1);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  line-height: 1;
}

.info ul li > p:last-of-type {
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 300;
}

.info li:not(:last-of-type) {
  margin-bottom: 1.2rem;
}

@media (min-width: 450px) {
  main {
    max-height: 800px;
  }
  .info {
    padding: 2.25rem 2rem;
  }

  .info ul {
    display: inline-flex;
    justify-content: center;
    gap: 2rem;
  }

  .info li:not(:last-of-type) {
    margin: 0;
  }
}

@media (min-width: 650px) {
  main {
    flex-direction: row-reverse;
    max-height: auto;
  }
  picture,
  img {
    border-radius: 0 0.5rem 0.5rem 0;
  }

  .info {
    padding: 3.5rem 4rem 3rem 3rem;
    text-align: left;
    max-width: 44ch;
  }

  .info > h1 {
    font-size: 1.85rem;
    margin-bottom: 1.5rem;
  }

  .info > p {
    margin-bottom: 4rem;
    font-size: 15px;
  }
}
